html{
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem*/
}

/* import fonts */
@font-face {
font-family: Roboto;
src: url('fonts/Roboto-Regular.ttf');
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1rem;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

/* Layout*/
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 0rem;
  height: 100%;
}
header{
  grid-area: header;
  background-color: #ffffff;
}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

/* Common */
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding-top: 0.1rem;
  color: #535252;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
a {
  text-decoration: none;
}
/* a:hover {
  color: #ff8000
} */

/* Header */
header a {
  color: #535252;
  padding: 1rem;
  font-family: Roboto;
}
a.brand {
  color: #535252;    
  font-size: 2.5rem;
  font-family: serif;
}

a.button1{
  background-color:#ffffff;
  color: #535252;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  font-size: 1.5rem;
}

a.button2{
  background-color:#535252;
  color: #ffffff;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.row.center {
  justify-content: center;
}

/* image */
img{
  height: 18rem;
}
img.medium{
  width: 253px;
  height: 253px;
}

/* recommend products */
.recommend {
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: 600;
  color: #535252;
  margin-top: 4rem;
  margin-left: 3.5rem;
  }

/* Card */
.card{
  border: 0.1rem #e5e5e5 solid;
  background-color: #ffffff;
  margin: 1rem;
  width: 253px;
  height: 385px;
}
.card-body{
  font-family: Roboto;
  font-size: 15px;
  color: #535252;
  padding-left: 2rem;
}
/* .card-body > * {
  margin-bottom: 0rem;
} */
.price{
  font-size: 13px;
  font-weight: 500; 
  margin-top: 0.2rem;
}
/* rating */
.rating{
  margin-top: 0.7rem;
}
.rating span{
  color: #f0c040;
  margin: 0.2rem;
  padding-top: 2rem;
}

.addtocart {
  border-radius: 2px;
  background-color: #535252;
  width: 133px;
  height: 26px;
  font-family: Roboto;
  font-size: 12px;
  color: #ffffff;
  margin-top: 1.1rem;
  padding: 0;
}

/* Slider */
#bgslider { 
  overflow: hidden; 
}
#bgslider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

#bgslider figure img { 
  width: 20%; 
  float: left; 
  height: 60rem;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }


